{% extends "base.html" %}
{% load static %}

{% block page_title %}
   Admin Portal
{% endblock %}

{% block content %}
<div class="container main-container">
   <div class="col-12">
      <div class="row">
         <div class="col-3">
            {% if admin %}
               {% include 'includes/admin_nav.html' %}
            {% endif %}
         </div>
         <div class="col-9">
            <div class="row">
               <div class="col-4">1</div>
               <div class="col-4">2</div>
               <div class="col-4">3</div>
            </div>
         </div>
      </div>   
   </div>
</div>
{% endblock %}