
/* CORE CSS */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a {
    text-decoration: none;
}

/* HELPER CLASSES  */

.b-line {
    border-bottom: 3px solid black;
}

.f-bold {
    font-weight: bold;
}

.main-container {
    margin: 0;
    padding: 0;
}

.text-white {
    color: white;
}

/* BUTTONS */

.btn {
    max-width: 10rem;
}

/* ALERTS */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    /* z-index means that it will always be placed on top of everything if the number is higher than everything else  */
    z-index: 9999999999;
}

.custom-alert {
    overflow: visible;
}

.toast-capper {
    height: 5px;
}

.toast-header {
    padding-left: 0.6rem;
    padding-top: 0.6rem;
}

.toast-body {
    padding: 0.6rem;
}

.alert {
    padding: 0;
}

/* PORTAL APP */



/* SUPPORT APP */

.fieldset {
    padding: 1rem;
    border: 1px solid black;
    border-radius: 25px 25px 25px 25px;
}

.info-wrap .dbox .icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.484);
}

.info-wrap .dbox .icon span {
    font-size: 20px;
    color: #fff;
}

.info-wrap .dbox {
    width: 100%;
    color: rgba(255, 255, 255, 0.8);
    margin-bottom: 25px;
}

.info-wrap h3 {
    color: #fff;
}

.info-wrap .dbox .text {
    width: calc(100% - 50px);
}

/* SCHOOL APP  */

.sch-edit {
    font-size: 0.7rem;
}

.sch-end {
    margin-left: 20rem;
    margin-top: 2rem;
}
