{% extends "base.html" %}
{% load static %}
{% load has_group %}

{% block page_title %}
   Admin Portal
{% endblock %}

{% block content %}
<div class="container main-container">
   <div class="col-12">
      <div class="row">
         <div class="col-3">
            {% if request.user|has_group:'admin' %}
                {% include 'includes/admin_nav.html' %}
            {% elif request.user|has_group:'owner' %}
                {% include 'includes/owner_nav.html' %}
            {% elif request.user|has_group:'instructor' %}
                {% include 'includes/instructor_nav.html' %}
            {% elif request.user|has_group:'student' %}
                {% include 'includes/student_nav.html' %}
            {% endif %}
         </div>
         <div class="col-9">
            <div class="row">
               <div class="col-12">
                    <form method="POST" action="#" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form }}
                        <input type="checkbox" class="" name="send-copy" id="send-copy">
                        <button class="" type="submit">Send Message</button>
                    </form>
               </div>
            </div>
         </div>
      </div>   
   </div>
</div>
{% endblock %}