<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-dark-subtle">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                    <li class="nav-item">
                        <a href="" class="nav-link align-middle px-0">
                            <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Live Site</span>
                        </a>
                    </li>
                    <li class="nav-item">
                      <a href="" class="nav-link align-middle px-0">
                          <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                      </a>
                  </li>
                    <li>
                        <a href="#submenu1" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-person-fill"></i> <span class="ms-1 d-none d-sm-inline">User Management</span> </a>
                        <ul class="collapse show nav flex-column ms-1" id="submenu1" data-bs-parent="#menu">
                            <li class="w-100">
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Driving Schools</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Driving Instructors</span></a>
                            </li>
                            <li>
                                <a href="#" class="nav-link px-0"> <span class="d-none d-sm-inline">Student Drivers</span></a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="" class="nav-link px-0 align-middle">
                            <i class="fs-4 bi-currency-pound"></i> <span class="ms-1 d-none d-sm-inline">Finances</span></a>
                    </li>
                    <li>
                      <a href="#" class="nav-link px-0 align-middle">
                        <i class="fs-4 bi-envelope-fill"></i> <span class="ms-1 d-none d-sm-inline">Message Center</span></a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown pb-4">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="d-none d-sm-inline mx-1 text-black">{{ user }}</span>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                        <li>
                            <a class="dropdown-item" href="{% url 'admin_settings' %}">Account Settings</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="{% url 'account_logout' %}">Sign out</a></li>
                    </ul>
                </div>
                <div class="pb-1">
                    <div class="col-12">
                        <p class="text-muted small">&copy; <script>document.write(new Date().getFullYear())</script> APP NAME</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col py-3">
            {% block admin %}

            {% endblock %}
        </div>
    </div>